<h1>Контактная информация</h1>

<h4>Адрес</h4>
<p>г. Самара, ул. Ново-Садовая, д. 106, корп. 109, ООО "Экстра"</p>

<h4>Адрес для почты</h4>
<p>443110, г. Самара, а/я 4001, ООО "Экстра"</p>

<h4>Телефон</h4>
<p>+7 (846) 221-64-48</p>


<h4>Отправьте нам сообщение</h4>
<a name="message"></a>
<br />
<%= render 'message_form' %>
<br />
<br />
