h1
  | Что такое "аутсорсинг интернет-магазина"?

.inner
  p.intro Аутсорсинг (от англ. «outsourcing») дословно &mdash; "использование чужих ресурсов". Передача непрофильных функций организациям, обладающим соответствующим опытом, знаниями, техническими средствами.

  p Мы создаём единственные в своём роде системы интернет-логистики. Специально для Вас.


h2 Наши преимущества
ul.article_list
  li.odd
    img src="/assets/thunder-gray.png"
    h3
      a href="#" Быстрая почта
    p Посылки, отправленные через нас Почтой России доходят на 30% быстрее, чем через обычные почтовые отделения. Потому что мы работаем напрямую через МСЦ и по сути, являемся частным специализированным почтовым отделением.
    
  li.even
    img alt="Глобус" src="/assets/globe-gray.png"
    h3
      a href="#" Почему Самара?
    p Самарская область расположена на уникальном пересечении транспортных путей, равноудалённом от наиболее перспективных рынков дистанционной торговли в России. А международный аэропорт и граница с Казахстаном открывают доступ к зарубежным рынкам.
  li.odd
    img alt="Паззл" src="/assets/puzzle-gray.png"
    h3
      a href="#" Интеграция сложных систем
    p Вам нужен мощный колл-центр, отлаженная работа с почтой и надёжные курьеры, но вы не можете найти это в рамках одной компании? Мы соберём единственное и неповторимое решение именно для вас, объединив лучших поставщиков услуг, запустим систему и будем осуществлять шеф-контроль за её работой.
  li.even
    img alt="Корзина" src="/assets/cart-gray.png"
    h3
      a href="#" Собственная платформа интернет-магазинов
    p Наши клиенты получают обслуживание действительно полного цикла, потому что мы разработали собственную платформу для быстрого запуска продающих интернет-магазинов. Теперь Вы можете получить новый канал продаж за считанные часы.
    
br.clear



p.questions Остались вопросы? <br />Звоните по телефону +7 (846) 221-64-48<br />Или <a href="/contacts#message">отправьте нам сообщение</a>







