<h1>Семинар "Логистика интернет-магазина"</h1>
<p><a href='/post_forms_exxxtra.xls'>Скачать автозаполняемые почтовые формы</a></p>
<p><img src="/assets/exxxtra.seminar.print.gif" alt="Плакат Логистика интерент-магазина" /></p>
<p>&nbsp;</p>


<h1>Добро пожаловать!</h1>
<p>Компания "Экстра" создана в 2008 году. Несмотря на так называемый "кризис" за 1.5 года с помощью технологий <a href="http://shsd.ru">Института Юрия Мороза</a> только за счёт собственной прибыли оборот был увеличен в 10 раз. Ключевую роль в этом сыграл постоянный процесс поиска и внедрения рацпредложений в деятельности компании.</p>
				<p>Сегодня Экстра это:
						<ul>
						<li>более 200 кв. м складских площадей с возможностью быстрого расширения до 1000 кв. м по необходимости</li>
						<li>всего 7 сотрудников, второстепенные функции на аутсорсинге</li>
						<li>несколько успешно реализованных систем электронной коммерции</li>
						<li>более 50 посылок в день, в том числе международные</li>
						<li>отлаженная схема работы с магистральными сортировочными центрами Почты России (МСЦ), которая даёт экономию до 30% по срокам</li>

						</ul>
				</p>
				
			
				<p>Мы готовы создать магазин на любой вкус и требования. Вы выбираете из готовых скриптов, которые мы настроим для вас или можете воспользоваться нашей собственной платформой, специально заточенной на максимально быструю массовую обработку заказов.</p>
				<p>Наш склад хранит в себе множество товаров самых разных типов и размеров. Круглосуточная охрана и оптимальный температурный режим (15-18 градусов Цельсия) -- дополнительная гарантия сохранности вашей собственности.</p>
				
				
				
<p class="questions">Остались вопросы?<br />
Звоните по телефону 8-800-100-31-01 (звонок бесплатный)<br />
Или пишите на <a href="mailto:i@exxxtra.ru">i@exxxtra.ru</a>
</p>






