<h1>Что такое "аутсорсинг интернет-магазина"?</h1>

<div  class="inner">
<p class="intro">Аутсорсинг (от англ. «outsourcing») дословно &mdash; "использование чужих ресурсов". Передача непрофильных функций организациям, обладающим соответствующим опытом, знаниями, техническими средствами.</p>


<!-- 
  <h2>Наши преимущества</h2>
  <ul id="features">
    <li class="odd">
      <h3>Быстрая почта</h3>
    </li>
    <li class="even">
      <h3>Почему Самара?</h3>
    </li>
    <li class="odd">
      <h3>Интеграция сложных систем</h3>
    </li>
    <li class="even">
      <h3>Собственная платформа интернет-магазинов</h3>
    </li>
  </ul>
    
  
  

-->
</div> <!-- #inner -->


<h1>Семинар "Логистика интернет-магазина"</h1>
<p><a href='/post_forms_exxtra.xls' onclick="yaCounter10495273.reachGoal('POST_FORMS_DOWNLOAD');">Скачать автозаполняемые почтовые формы</a></p>
<p><img src="/assets/exxxtra.seminar.print.gif" alt="Плакат Логистика интерент-магазина" /></p>


<p>&nbsp;</p>


				
				
				
<p class="questions">Остались вопросы?<br />
Звоните по телефону +7 499 638-24-25<br />
Или <a href="/contacts#message">отправьте нам сообщение</a>
</p>






