<h1>Как это работает</h1>

<ol id="how">
  <li>Заключаем договор</li>
  <li>Подключаем ваш интернет-магазин</li>
  <li>Завозим товар на склад</li>
  <li>Принимаем заказы через сайт, по телефону и по электронной почте</li>
  <li>Собираем и упаковываем заказы</li>
  <li>Отправляем почтой, курьером или транспортной компанией</li>
  <li>Вы получаете деньги за товар</li>
  <li>Мы обрабатываем данные по поступившим платежам</li>
  <li>Для вернувшихся закзов проводим тестирование, возвращаем на склад</li>
  <li>Получаем рекламации и отвечаем на них</li>
  <li>Предоставляем вам отчёты по продажам и складским остаткам</li>
</ol>

<p class="questions">Остались вопросы?<br />
Звоните по телефону 8-800-100-31-01 (звонок бесплатный)<br />
Или пишите на <a href="mailto:i@exxxtra.ru">i@exxxtra.ru</a>
</p>
