h2 Научно-внедренческий фонд "ЭкстраСфера"

p Часто вполне достойным изобретениям не хватает совсем чуть-чуть, чтобы превратиться в серийное изделие и облегчить нашу жизнь. Научно-внедренческий фонд призван помочь изобретениям и изобретателям довести дело до конца.

h4 Как это выглядит на практике

p &nbsp;
p &nbsp;