<h1>Тарифы</h1>

<p id="price">от 25 руб. до 150 руб.</p>
<p id="price_descript">за полную обработку одного заказа</p>

<p class="questions">Хотите узнать вашу цену?<br />
Звоните по телефону +7 (846) 221-64-48<br />
Или <a href="/contacts#message">отправьте нам сообщение</a>
</p>


