<h1>Тарифы</h1>

<p id="price">от 25 руб. до 150 руб.</p>
<p id="price_descript">за полную обработку одного заказа</p>

<p class="questions">Хотите узнать вашу цену?<br />
Звоните по телефону +7 (499) 638-24-25<br />
Или пишите на <a href="mailto:i@exxxtra.ru">i@exxxtra.ru</a>
</p>


