h1 Тарифы

p#price от 25 руб.

p#price_descript за полную обработку одного заказа

p#price-list
	a href="/exxtra_ru_price.pdf"
		img src="/images/pdf-icon.png"
		| Скачайте полный прайс-лист

p.questions
	| Хотите узнать вашу цену?
	br
	| Звоните по телефону +7 846 221-64-48
	br
	| Или 
	a href="/contacts#message" отправьте нам сообщение



