h1 Почему Самара?

p Находится в центре населённой части России.
img alt="Плотность населения России" src="/assets/russia_population.jpg"

p Крупный транспортный узел (порт, крупнейший ж/д вокзал, международный аэропорт, федеральная трасса М5).
img alt="Железнодорожный вокзал Самара" src="/assets/samara_railways.jpg"
img alt="Международный аэропорт Самара" src="/assets/samara_airport.jpeg"
img alt="Речной порт Самара" src="/assets/samara_port.jpg"
img alt="Федеральная трасса М5" src="/assets/samara_m5.jpg"

p Недорогой и высококвалифицированный персонал &mdash; т.к. много ВУЗов.

p Много производственных предприятий.

p Один из крупнейших магистральных сортировочных центров Почты России, с большим запасом пропускной способности.

p Прямая граница с Казахстаном &mdash; самым перспективным рынком на территории бывшего СССР.

p
  | Самара вошла в число пяти наиболе инвестиционно привлекательных городов-миллионников России &mdash; 
  a href="http://www.regnum.ru/news/1407449.html" ИА Регнум

