<!DOCTYPE html>
<html>
<head>
  <title>Экстра: полный аутсорсинг интернет-магазинов, комлексное обслуживание интерент-магазинов, складское хранение, колл-центр, упаковка, доставка, обработка заказов.</title>
  <meta name="keywords" content="аутсорсинг интернет-магазина, комплексное обслуживание интернет-магазинов, субподряд, склад, ответственное хранение, обработка заказов, колл-центр, отправка заказов, доставка, почта России, курьер" />
  <meta name="description" content="Компания Экстра комплексно обслуживает любые интернет-магазины, предоставляя услуги складского хранения, приёма звонков, сборки  и упаковки заказов, обработки платежей и автоматизации." />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
